.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.AllBoxCont {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
}
.bounding-box-container {
  z-index: 50;
  position: absolute;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.bounding-boxes {
  box-sizing: border-box;
  position: relative;
  margin: auto;
}
.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}
#inputImage {
  border: none;
}
