.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.particles{
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:-1;
}
.ImageCenter{
  display:flex;
  justify-content:center;
}
.ImageCenter .imga{
  width:500px;
  overflow:hidden;
  border:1px solid green;
  cursor:pointer;
}
.imga img{
  width:500px;
  position:relative;

  }
.imga img:hover{
  width:600px;
  position:relative;

  }


  @media screen and (max-width: 768px) {
    .ImageCount {
      width: 100%
    }
    .f5 {
      font-size: 0.8rem;
    }
  }